//
// Brand List
// --------------------------------------------------

.brand-list {
	.posr;
	.wh(920; 450);
	left: -4px;
	.ma;
	.list {
		.w(@layout);
		.ma;
	}
	.flex-viewport {
		.h(450);
	}
	ul.slides {
		.whb(@layout; 450);
		li {
			.fl;
			.db;
			.whb(176; 450);
			.p(0 4px);
			a.img {
				.whb(176; 292);
				.bc(@white);
				img {
					.squ(100%);
				}
			}
			.info {
				.h(155);
				.p(0 10px);
				.bort(3px solid @grayE);
				.bc(@white);
			}
			.logo {
				.pc;
				.wh(122; 56);
				.ma;
				.oh;
			}
			.desc {
				.db;
				.wh(100%; 64);
				.lh(16);
				.pt(4);
				//.mt(5);
				.bort(1px solid @grayB);
				color: @gray-light;
				.fz(12);
				.oh;
			}
			.more {
				.db;
				.wh(74; 20);
				.lh(20);
				.m(4px auto 0);
				color: @white;
				.fz(12);
				.tc;
				cursor: pointer;
				.bc(@orange);
			}
		}
	}
	.flex-direction-nav {

	}
	a.flex-prev,
	a.flex-next {
		.posa;
		top: 210px;
		.db;
		.squ(29);
		.oh;
		text-indent: 1000px;
		background: url(../image/icon.png) no-repeat;
	}
	a.flex-prev {
		left: -35px;
		background-position: 0 -120px;
	}
	a.flex-next {
		right: -35px;
		background-position: 0 -160px;
	}
}