//
// Company Info
// --------------------------------------------------

.company-info {
	.ci-introduction {
		.mt(16);
		.oh;
		.e-title {
			.th(40);
			.fz(16);
			.borb(1px solid @grayB);
		}
	}
	.ci-text {
		.wh(100%; 240);
		.lh(20);
		.mt(10);
		.fz(12);
		overflow-x: hidden;
		overflow-y: auto;
	}
	.bi-image {
		.mt(20);
	}
	.bi-image-list {
		.wh(110%; 100);
		.oh;
		a,
		img {
			.fl;
			.whb(160; 100);
			.mr(10);
			.oh;
		}
		a>img {
			.mr;
		}
	}
}

// Phone
@media only screen and (max-width: 480px) {
	.company-info {
		.bc(@white);
		.ci-introduction {
			.mt(0);
			.oh;
			.e-title {
				.h(80);
				.lh(128);
				.fz(14);
				.bs;
				.borb(1px solid @grayB);
				.p(0 10px);
				background: url(../image/logo_opacity.png) 80% center @grayE no-repeat;
				background-size: 32%;
			}
		}
		.ci-text {
			height: auto;
			.p(0 10px);
			.bs;
		}
		.bi-image {
			.mt(20);
		}
		.bi-image-list {
			.p(0);
			height: auto;
			.bs;
			a,
			img {
				.fl;
				.whb(41%; 100);
				.ml(10);
				.mr(0);
				.mb(10);
			}
			a>img {
				.w(100%);
				.mr;
			}
		}
	}
}