//
// Home
// --------------------------------------------------

// 甜
.img-sweetness {
	background: url(../image/img-sweetness.jpg) no-repeat;
}
.img-sweetness-2 {
	background: url(../image/img-sweetness-2.jpg) no-repeat;
}
.img-sweetness-CN i {
	background: url(../image/img-sweetness-CN.png) no-repeat;
}
.img-sweetness-EN i {
	background: url(../image/img-sweetness-EN.png) no-repeat;
}
// 香
.img-aroma {
	background: url(../image/img-aroma.jpg) no-repeat;
}
.img-aroma-2 {
	background: url(../image/img-aroma-2.jpg) no-repeat;
}
.img-aroma-CN i {
	background: url(../image/img-aroma-CN.png) no-repeat;
}
.img-aroma-EN i {
	background: url(../image/img-aroma-EN.png) no-repeat;
}
// 苦
.img-bitterness {
	background: url(../image/img-bitterness.jpg) no-repeat;
}
.img-bitterness-2 {
	background: url(../image/img-bitterness-2.jpg) no-repeat;
}
.img-bitterness-CN i {
	background: url(../image/img-bitterness-CN.png) no-repeat;
}
.img-bitterness-EN i {
	background: url(../image/img-bitterness-EN.png) no-repeat;
}
// 醇
.img-mellowness {
	background: url(../image/img-mellowness.jpg) no-repeat;
}
.img-mellowness-2 {
	background: url(../image/img-mellowness-2.jpg) no-repeat;
}
.img-mellowness-CN i {
	background: url(../image/img-mellowness-CN.png) no-repeat;
}
.img-mellowness-EN i {
	background: url(../image/img-mellowness-EN.png) no-repeat;
}


.home-banner {
	ul {
		.w(848);
		.ma;
		.oh;
	}
	li {
		.fl;
		.db;
		.wh(212; 490);
		&.hb-1,
		&.hb-3 {
			.mt(37);
		}
	}
	.img {
		.wh(210; 243);
		.mb(2);
		.oh;
	}
	.hb-list {
		.posr;
		.hb-child-1,
		.hb-child-2 {
			.bs;
			.p(4px);
			.wh(210; 243);
			i {
				.db;
				.squ(100%);
				.bor(1px solid @white);
				.bs;
			}
		}
		.hb-child-2 {
			a.more {
				.posa;
				left: 50%;
				bottom: 10px;
				.ml(-36);
				.wh(72; 24);
				.lh(24);
				.fz(14);
				.tc;
				.bc(@white);
				color: @orange;
			}
		}
		.brand-list {
			display: none;
			.fl;
			.wh(178px; 172);
			.ml(19);
			.mt(17);
			.oh;
			a {
				.fl;
				.whb(84; 37);
				.mr(5);
				.mb(6);
				.bc(@dark);
				.pc;
				opacity: .7;
				&:hover {
					opacity: 1;
				}
			}
		}
		&:hover {
			.hb-child-1 {
				display: none;
			}
			.hb-child-2 {
				.brand-list {
					.db;
				}
				a.more {
					.bc(@tran);
					color: @white;
				}
			}
		}
	}
}

// Pad
@media only screen and (min-width: 400px) and (max-width: 1024px){

}

// Phone
@media only screen and (max-width: 480px) {
	// 甜
	.img-sweetness-CN i {
		background-position: left 15%;
	}
	.img-sweetness-EN i {
		background-position: left 15%;
	}
	// 香
	.img-aroma-CN i {
		background-position: left 20%;
	}
	.img-aroma-EN i {
		background-position: left 20%;
	}
	// 苦
	.img-bitterness-CN i {
		background-position: right 50%;
	}
	.img-bitterness-EN i {
		background-position: right 50%;
	}
	// 醇
	.img-mellowness-CN i {
		background-position: right 15%;
	}
	.img-mellowness-EN i {
		background-position: right 15%;
	}

	.home-banner {
		ul {
			.w(100%);
			.oh;
		}
		li {
			.wh(100%; 114);
			.mb(2);
			&.hb-1,
			&.hb-3 {
				.mt(0);
			}
			.img {
				.fr;
				.wh(50%; 114);
				.bs;
				.oh;
				background-size: cover;
				background-position: center;
			}
		}
		.hb-list {
			.hb-child-1,
			.hb-child-2 {
				.squ(100%);
				i {
					background-size: 76%;
				}
			}
			.hb-child-2 {
				a.more {
					left: 0;
					bottom: 0;
					.db;
					.squ(100%);
					.ml(0);
					opacity: 0;
				}
			}
			.brand-list {
				display: none;
			}
			&:hover {
				.hb-child-1 {
					.db;
				}
				.hb-child-2 {
					.brand-list {
						display: none;
					}
					.more {

					}
				}
			}
		}
	}
}