//
// Layout
// --------------------------------------------------

.layout,
.container {
	.ma;
	.clearfix;
}
.header,
.footer,
.layout {		// 100%
	.w(@layout);
}
.container {	// 1000px
	.w(@container);
}
.bg-common {
	background: url(../image/bg.jpg) @orange center no-repeat;
	background-attachment: fixed;
}
.wrapper {
	.p(60px 44px);
}

.show-template {
	.wh(@layout; 453);
	.bc(@white);
	.oh;
	.st-left {
		.fl;
		.wh(212; @layout);
		.borr(1px solid @grayB);
		background: url(../image/logo_opacity.png) 13px 197px @grayE no-repeat;
		i {
			.db;
			.squ(100%);
			background-size: cover;
		}
	}
	.st-right {
		.fr;
		.wh(669; @layout);
		.p(0 15px);
	}
}

.e-title {
	.wh(@layout; 24);
	.lh(24);
	color: @orange;
	.fz(14);
}
.e-child {
	.pl(14);
	background: url(../image/icon.png) -70px -145px no-repeat;
	.oh;
}


// Pad
@media only screen and (min-width: 480px) and (max-width: 1024px) {
	.header,
	.footer,
	.layout,
	.container {		// 100%
		width: auto;
	}
	body>.layout {
		
	}
	.show-template {
		height: auto;
		.bc(@white);
		.oh;
		.st-left {
			.w(0);
			.borr(0);
		}
		.st-right {
			.fr;
			.wh(@layout; @layout);
			.bs;
			.p(0);
			.bc(@white);
			//.p(0 15px 15px);
		}
		.st-right>div {
			.p(0 15px 15px);
		}
	}
}
@media only screen and (min-width: 480px) and (max-width: 800px) {
	.wrapper {
		.p(40px 2% 10px);
	}

}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
	.wrapper {
		.p(40px 9% 10px);
	}
}

// Phone
@media only screen and (max-width: 480px) {
	.header,
	.footer,
	.layout,
	.container {		// 100%
		width: auto;
	}
	body>.layout {
		.posa;
		top: 50px;
		right: 0;
		bottom: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.wrapper {
		.p(40px 6% 0);
	}
	.bg-common {
		background: none @orange;
	}
	.show-template {
		height: auto;
		.bc(@white);
		.oh;
		.st-left {
			.w(0);
			.borr(0);
			background: url(../image/logo_opacity.png) 13px 197px @grayE no-repeat;
		}
		.st-right {
			.fr;
			.wh(@layout; @layout);
			.bs;
			.p(0);
			.bc(@white);
		}
	}
}
