//
// News list
// --------------------------------------------------

.news-list {
	.oh;
	.nl-ul {
		.h(392);
		.mt(10);
		.oh;
	}
	li {
		.h(106);
		.p(12px 0);
		.borb(1px solid @grayB);
		.img {
			.fl;
			.wh(170; 100%);
			.tc;
			.lh(100%);
			.pc;
		}
		.info {
			.fl;
			.wh(480; 100%);
			.pl(16);
			.mt(4);
		}
		.e-title {
			.th(32);
			span {
				.fl;
				.mr(10);
			}
			a {
				.fl;
				.db;
				.th(16);
				.p(0 5px);
				.mt(8);
				.bc(@orange);
				color: @white;
				i {
					.fr;
					.db;
					.squ(12);
					.mt(2);
					.ml(5);
					background: url(../image/icon.png) -40px -230px no-repeat;
				}
			}
			.time {
				.fr;
				.wh(80; 16);
				.lh(16);
				.mt(8);
				.bc(@grayC);
				.tc;
				font-weight: 100;
				.fz(12);
				color: @white;
			}
		}
		.text {
			.h(60);
			.lh(20);
			.fz(12);
			.oh;
			color: @gray;
		}
	}
	.nl-btn {
		.mt(10);
		.oh;
		a {
			.db;
			.th(24);
			.p(0 8px);
			.bc(@orange);
			color: @white;
			.fz(14);
			i {
				.db;
				.squ(16);
				.mt(4);
				background: url(../image/icon.png) no-repeat;
			}
		}
		.btn-l {
			.fl;
			i {
				.fl;
				.mr(6);
				.bp(0 -200px);
			}
		}
		.btn-r {
			.fr;
			i {
				.fr;
				.ml(6);
				.bp(0 -230px);
			}
		}
	}
}

// Pad
@media only screen and (min-width: 480px) and (max-width: 1024px) {
	.news-list {
		.nl-ul {
			.h(465);
			li {
				.posr;
				.h(130);
			}
			.img {
				.posa;
				left: 0;
				.h(130);
			}
			.info {
				width: auto;
				.pl(180);
			}
		}
		.st-right {
			&:before {
				content: '';
				.db;
				.wh(100%; 60);
				background: url(../image/logo_opacity.png) 90% center @grayE no-repeat;
				background-size: 80px 80px;
			}
		}
	}
}

// Phone
@media only screen and (max-width: 480px) {
	.show-template {
		.bc(@tran);
	}
	.news-list {
		.nl-ul {
			height: auto;
		}
		li {
			.h(100);
			.p(5px);
			.borb;
			.mb(6);
			.oh;
			.bc(@white);
			.img {
				.wh(30%; 100%);
				.bc(@grayE);
			}
			.info {
				.wh(70%; 100%);
				.pl(16);
				.mt(0);
				.bs;
			}
			.e-title {
				.th(32);
				span {
					.fl;
					.mr(10);
					max-width: 80px;
					.oh;
				}
				a {
					.posr;
					.w(10);
					text-indent: 1000px;
					.bc(@tran);
					i {
						.posa;
						top: 2px;
						right: 4px;
						.squ(12);
						.mt(0);
						.ml(0);
						background: url(../image/icon.png) -40px -230px no-repeat;
					}
				}
			}
		}
		.nl-btn {
			display: none;
		}
	}
}